@charset "UTF-8";
/**
 *
 * @authors Spring Bless (429829320@qq.com)
 * @date    2018-05-22 17:07:19
 * @version loading v1.0
 */
 .bottomToCenter{
    -webkit-animation: bottomToCenter .5s ease-in both;
    -moz-animation: bottomToCenter .5s ease-in both;
    -ms-animation: bottomToCenter .5s ease-in both;
    -o-animation: bottomToCenter .5s ease-in both;
    animation: bottomToCenter .5s ease-in both;
}

.bottomToTop{
    -webkit-animation: bottomToTop .5s ease-in both;
    -moz-animation: bottomToTop .5s ease-in both;
    -ms-animation: bottomToTop .5s ease-in both;
    -o-animation: bottomToTop .5s ease-in both;
    animation: bottomToTop .5s ease-in both;
}

.me_loading{
    position: fixed;
    width: 200px;
    height: 35px;
    border: 1px solid skyblue;
    color: #fff;text-align: center;
    line-height: 35px;
    background: #78C185;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 0 10px 1px #000;
}

@-webkit-keyframes bottomToCenter {
    0%{
        -webkit-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 50%;
        opacity: 1;
    }
}
@-moz-keyframes bottomToCenter {
    0%{
        -moz-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 50%;
        opacity: 1;
    }
}
@-ms-keyframes bottomToCenter {
    0%{
        -ms-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 50%;
        opacity: 1;
    }
}
@-o-keyframes bottomToCenter {
    0%{
        -o-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 50%;
        opacity: 1;
    }
}
@keyframes bottomToCenter {
    0%{
        transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 50%;
        opacity: 1;
    }
}


@-webkit-keyframes bottomToTop {
    0%{
        -webkit-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 0;
        opacity: 1;
    }
}
@-moz-keyframes bottomToTop {
    0%{
        -moz-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 0;
        opacity: 1;
    }
}
@-ms-keyframes bottomToTop {
    0%{
        -ms-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 0;
        opacity: 1;
    }
}
@-o-keyframes bottomToTop {
    0%{
        -o-transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 0;
        opacity: 1;
    }
}
@keyframes bottomToTop {
    0%{
        transform-origin: top center;
        top : 80%;
        opacity: 0;
    }
    100%{
        top : 0;
        opacity: 1;
    }
}